{% extends "cis_schedule_gui/layout.html" %}

{% block body %}
    <!-- <form id="classes">
    <h2>A1</h2>

    {% for field in form %}
        <label class="periodField" for="{{ field.auto_id }}">{{ field.label }}</label>
        {{ field }}
    {% endfor %}
</form> -->
    {% load index %}
    <div class="row justify-content-center main-table">
        <div class="col-auto">
            <br></br>
            <h3>1. Input your schedule in the table below</h3>
            <p> Leave any free periods blank </p>
            <span class="badge badge-danger">Currently creates schedule from Jan 21,2021 to Feb 9,2021</span>
            <br/>
            <form id="classes" method="POST">
                {% csrf_token %}
                {{ formset.management_form }}
                <table class="table table-bordered table-responsive">
                    <thead>
                    <tr>
                        <th scope="col">Day</th>
                        <th scope="col">Period 1</th>
                        <th scope="col">Period 2</th>
                        <th scope="col">Period 3</th>
                        <th scope="col">Period 4</th>
                    </tr>
                    </thead>
                    {% for form in formset %}
                        <tr>
                            <th scope="row"><label class="dayLabel">{{ days|index:forloop.counter0 }}</label></th>
                            {% for field in form.visible_fields %}
                                <td>{{ field }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </table>
                <button class="btn btn-secondary" type="submit">2. Download CSV File </button>
            </form>
            <br/>
            <a class="btn btn-success" target="_blank" rel="noopener noreferrer"
               href="https://calendar.google.com/calendar/r/settings/export">3. Open Google Calendar Import</a>

        </div>
    </div>
{% endblock %}